<%= render 'layouts/notifications' %>
<main>
<!-- メインイメージエリア -->
  <nav>
    <%# <div class="header"> %>
      <ul>
        <li><a href="#">Top</a></li>
        <li><a href="#concept">Service</a></li>
        <li><a href="#start">Let's start!</a></li>
      </ul>
    </div>
  </nav>
<%# 筋トレしていてこんなことありませんかエリア %>
<section id="main_image">
<div class="container">
  <h2 class="main_question">筋トレをしていて、こんなことありませんか?</h2>
   <%= image_tag "main_image.jpg" %>
   </div>
<%# 悩みエリア %>
  <div class="appeal_box">
    <li class="appeal">痩せたいけどなかなか体重が落ちない</li>
    <li class="appeal">１週間前にどんなトレーニングをしたか全く覚えていない</li>
    <li class="appeal">トレーニングで自分の成長を実感できていない</li>
    <li class="appeal">最初はやる気があったけどだんだんとやる気がなくなってきている</li>
  </div>
</section>

<section id="sub_image">
  <div class="container">
    <%= image_tag "sub_image.jpg" %>
      <p class="sub_text">がむしゃらにトレーニングをしても成果はついてきません・・・</p>
      <p class="sub_text">成果を出すためには、<b>数値の記録・そして毎日の確認が必要</b>です。</p>
  </div>
</section>

<!-- サービス紹介エリア -->
<section id="concept">
  <div class="container">
    <h1>~サービス紹介~</h1>
      <p class="service-text">TrainingMemoはシンプルで使いやすい<br>筋トレ・体成分管理ツールです！</br></p>
      <p>TrainingMemoを使って、効率よくトレーニングしましょう！</p>
    <h2 class="easy-text">2ステップでかんたん利用！</h2>

    <ul class="reason-list">
      <div class="list-box">
        <li class="list">
          <span class='list-number'>①</span>
          <h3 class="step-text">STEP1(記録)</h3>
          <%= image_tag "training_form.png", class:"list-pict" %>
          <p>シンプルな入力フォーム！</p>
        </li>
      </div>
      <div class="list-box">
        <li class="list">
          <span class='list-number'>②</span>
          <h3 class="step-text">STEP2(確認)</h3>
          <%= image_tag "weight_check.png", class:"list-pict" %>
          <p>記録データは差分も表示！</p>
        </li>
      </div>
    </ul>
    <ul class="reason-list">
    <div class="list-box">
      <li class="list">
      <h3 class="function-text">機能一例<br>(MAX記録 確認機能)</br></h3>
        <%= image_tag "max_check.png", class:"list-pict-max" %>
        <p>種目別MAX記録！<br>記録更新にチャレンジしよう！</br></p>
      </li>
    </div>
      <div class="list-box">
      <li class="list">
      <h3 class="function-text">機能一例<br>(グラフ 確認機能)</br></h3>
        <%= image_tag "graph_check.png", class:"list-pict" %>
        <p>グラフで体重・体脂肪表示！<br>数値傾向を素早く察知！</br></p>
      </li>
    </div>
    </ul>

	</div>
</section>
 
<!-- TrainingMemoを始めるエリア -->
<section id="start">
<div class="container">
	<h2>~TrainingMemoを始めよう！~</h2>
  <div class="start-box">
	   <%= image_tag "start_image.jpg" %>
      <div class="user_nav">
        <% if user_signed_in? %>
          <%= link_to "マイページへ進む", user_path(current_user.id), method: :get, class: "btn btn-success btn-lg" %>
        <% else %>
          <%= link_to "新規登録してTrainingMemoを始める", new_user_registration_path, class: "btn btn-success btn-lg" %>
        <% end %>
        <p class="free">ご利用は<span class="free-text">完全無料</span>です！<br>
        さあ、始めましょう！</p>
      </div>
    </div>
</section>
</main>