<%= render 'layouts/notifications' %>
<div class="my-page-box">
  <div class="username">
  <%= @nickname %><p>さんのページ</p>
  </div>
  <%# <h4>今週トレーニングした日数</h4> %>
  <div class="select-action">
    <p><%= link_to "トレーニングを記録する", new_training_record_path, class: "btn bg-info text-white" %></p>
    <p><%= link_to "体重・体脂肪を記録する", new_body_record_path, class: "btn bg-info text-white" %></p>
    <p><%= link_to "トレーニングを分析する", training_records_path, class: "btn bg-info text-white" %></p>
    <p><%= link_to "体重・体脂肪を分析する", body_records_path, class: "btn bg-info text-white" %></p>
  </div>
</div>