<%= render 'layouts/notifications' %>
<div class="my-page-box">
  <div class="username">
  <%= @nickname %><p>さんのページ</p>
  </div>
  <div class="select-action">
    <h4 class="step-text">STEP① 記録しよう！</h4>
      <div class="first-box">
        <p class="run-btn"><%= link_to "トレーニングを記録する", new_training_record_path, class: "btn bg-success text-white btn-lg"  %></p>
        <p class="run-btn"><%= link_to "体重・体脂肪を記録する", new_body_record_path, class: "btn bg-warning btn-lg" %></p>
      </div>
    <h4 class="step-text">STEP② 確認しよう！</h4>
      <div class="second-box">
        <p class="run-btn"><%= link_to "トレーニングを確認する", training_records_path, class: "btn bg-success text-white btn-lg" %></p>
        <p class="run-btn"><%= link_to "体重・体脂肪を確認する", body_records_path, class: "btn bg-warning btn-lg" %></p>
      </div>
  </div>
</div> 