<h3 class="input-nav">編集する</h3>
  <div class="container">
    <div class="form-group ">
      <%= form_with(model: @body_record, local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <label for="date">体重・体脂肪を編集する日付</label>
          <p class="edit-text"><%= @body_record.date %></p>
        <%= render 'shared/body_form'%>      
      <% end %>
        <%= render 'shared/mypage_link' %>
    </div>
  </div>