<%= render 'layouts/notifications' %>
<h1 class="input-nav">体重・体脂肪のグラフ確認ページ</h1>
  <div class="action-box">
    <div class="box-position">
      <%= link_to "マイページへ戻る", user_path(current_user.id), class: "btn btn-success" %>
      <%= link_to "前のページへ戻る", body_records_path, class: "btn btn-warning" %>
    </div>
  </div>

<div class="month">
  <p class="graph-text">１ヶ月の推移を確認</p>
    <div class="action-box">
      <%= form_tag(month_graph_body_records_path, method: :post) do %>
        <p>起点の日付を選択してください<input type="date" name="body_record[month]" id="body_record_month">
        <input type="submit" value="確認する", class="btn btn-success"></p>
      <% end %>
    </div>
</div>

<div class="week">
  <p class="graph-text">１週間の推移を確認</p>
    <div class="action-box">
      <%= form_tag(week_graph_body_records_path, method: :post) do %>
        <p>起点の日付を選択してください<input type="date" name="body_record[week]" id="body_record_week">
        <input type="submit" value="確認する", class="btn btn-success"></p>
      <% end %>
    </div>
</div>
  
<div class="graph">
  <%= line_chart [ { name: "体重", data: @weight_graph }], min: 40, max: 100, colors: ["blue"], curve: false %>
</div>
  <div class="graph">
  <%= line_chart [ { name: "体脂肪", data: @fat_graph }], min: 5, max: 40, colors: ["red"], curve: false %>
</div>