<%= render 'layouts/notifications' %>
<h3 class="input-nav">体重・体脂肪記録を確認する</h1>

<% unless @body_record.empty? %>
  <div class="next-page">
    <%= link_to "推移をグラフで確認する", "#", class: "btn btn-success" %>
  </div>
  <% if #最新レコードである条件 %>
    <p class="latest-text">最新の体重・体脂肪のデータ</p>
  <% end %>
<div class="item-box">  
<% @body_record.each do |latest_bodyrecord| %>
  <div class="latest-box">
    <table class="latest-body-data">
      <tbody>
          <tr>
            <th class="latest-data">日付</th>
            <td class="latest-value"><%= latest_bodyrecord.date %></td>
          </tr>
          <tr>
            <th class="latest-data">体重</th>
            <td class="latest-value"><%= latest_bodyrecord.body_weight %>kg</td>
          </tr>
          <tr>
            <th class="latest-data">体脂肪率</th>
            <td class="latest-value"><%= latest_bodyrecord.fat %>%</td>
          </tr>
          <tr>
            <th class="latest-data">体調</th>
            <td class="latest-value"><%= latest_bodyrecord.todays_condition %></td>
          </tr>
      </tbody>
    </table>
  </div>
      <div class="edit-delete-box">
        <li class="edit-box">
          <%= link_to "編集する", edit_body_record_path(latest_bodyrecord.id), method: :get, class: "btn btn-info" %>
        </li>
        <li class="delete-box">
          <%= link_to "削除する", "/body_records/#{latest_bodyrecord.id}", method: :delete, class: "btn btn-danger" %>
        </li>
      </div>
      <% end %>

  <% if @search_body_record != nil %>
    <% @search_body_record.each do |search_bodyrecord| %>
    <div class="latest-box">
     <table class="latest-body-data">
      <tbody>
          <tr>
            <th class="latest-data">日付</th>
            <td class="latest-value"><%= search_bodyrecord.date %></td>
          </tr>
          <tr>
            <th class="latest-data">体重</th>
            <td class="latest-value"><%= search_bodyrecord.body_weight %>kg</td>
          </tr>
          <tr>
            <th class="latest-data">体脂肪率</th>
            <td class="latest-value"><%= search_bodyrecord.fat %>%</td>
          </tr>
          <tr>
            <th class="latest-data">体調</th>
            <td class="latest-value"><%= search_bodyrecord.todays_condition %></td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="edit-delete-box">
        <li class="edit-box">
          <%= link_to "編集する", edit_body_record_path(search_bodyrecord.id), method: :get, class: "btn btn-info" %>
        </li>
        <li class="delete-box">
          <%= link_to "削除する", "/body_records/#{search_bodyrecord.id}", method: :delete, class: "btn btn-danger" %>
        </li>
      </div>   
    <% end %> 
  <% end %>

      <div class="action-box">
        <%= form_tag(search_body_records_path, method: :post) do %>
          <p>見たい日付を選択してください<input type="date" name="body_record[date]" id="body_record_date">
          <input type="submit" value="確認する", class="btn btn-success"></p>
        <% end %>
      </div>

</div>
      <% else %>
        <div class="empty">
          <p>記録されたデータはありません</p>
        </div>
        <div class="select-date-empty">
          <%= form_tag(search_body_records_path, method: :post) do %>
            <p>見たい日付を選択してください<input type="date" name="body_record[date]" id="body_record_date">
            <input type="submit" value="確認する", class="btn btn-success"></p>
          <% end %>
        </div>
       <% end %>