<%= render 'layouts/notifications' %>
<h3 class="input-nav">体重・体脂肪分析</h1>
<div class="next-page">
  <%= link_to "推移をグラフで確認する", "#", class: "btn btn-info" %>
</div>
  <p class="latest-text">最新の体重・体脂肪のデータ</p>
<%# 最新の体組成データ %>
<div class="item-box">
  <table class="latest-body-data">
    <tbody>
      <% @body_record.each do |latest_bodyrecord| %>
        <tr>
          <th class="latest-data">日付</th>
          <td class="latest-value"><%= latest_bodyrecord.date %></td>
        </tr>
        <tr>
          <th class="latest-data">体重</th>
          <td class="latest-value"><%= latest_bodyrecord.body_weight %>kg</td>
        </tr>
        <tr>
          <th class="latest-data">体脂肪率</th>
          <td class="latest-value"><%= latest_bodyrecord.fat %>%</td>
        </tr>
        <%# 要修正ここから %>
        <tr>
          <th class="latest-data">体調</th>
          <td class="latest-value"><%= latest_bodyrecord.fat %></td>
        </tr>
        <%# 要修正上まで %>
    </tbody>
  </table>
</div>
      <div class="edit-delete-box">
        <li class="edit-box">
          <%= link_to "編集する", edit_body_record_path(latest_bodyrecord.id), method: :get, class: "btn btn-info" %>
        </li>
        <li class="delete-box">
          <%= link_to "削除する", "/body_records/#{latest_bodyrecord.id}", method: :delete, class: "btn btn-danger" %>
        </li>
      </div>
      <% end %>
      
      <%= form_tag(body_records_path, method: :get) do %>
        <p>見たい日付を選択してください<input type="date">
        <input type="submit"></p>
      <% end %>
    

    <% @body_records.each do |body_record| %>
        <p>体重 <%= body_record.body_weight %>kg</p>
        <p>日付: <%= body_record.date %></p>
        <p>体重: <%= body_record.body_weight %>Kg</p>
        <p>体脂肪率: <%= body_record.fat %>%</p>
        <p>今日の体調: <%= body_record.todays_condition %></p>
      <li>
        <%= link_to "編集", edit_body_record_path(body_record.id), method: :get  %>
      </li>
      <li>
        <%= link_to "削除", "/body_records/#{body_record.id}", method: :delete %>
      </li>
    <% end %>
  