<h1 class="input-nav">体重・体脂肪を入力する</h1>
  <div class="container">
    <div class="form-group ">
      <%= form_with(model: @body_record, local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <label for="date">日付を選択してください<span class="indispensable">必須</span></label>
          <p><%= f.date_field :date %></p>
          <%= render 'shared/body_form' %>            
      <% end %>
       <%= render 'shared/mypage_link' %>
    </div>
  </div>