<h1 class="input-nav">編集する</h1>
  <div class="container">
    <div class="form-group">
      <%= form_with(model: @training_record, local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
          <label for="date">編集する日付</label>
            <p class="edit-text"><%= @training_record.date %></p>      
          <label for="trining_event">行なった種目</label>
        <% @training_genre.each do |training_genre|%>
          <% if @training_record.training_event == training_genre.id %>
            <p class="edit-text"><%= training_genre.event %></p>
          <% end %>
        <% end %>    
          <%= render 'shared/training_form'%>
      <% end %>
          <%= render 'shared/mypage_link' %>
    </div>        
  </div>