<h1>ここはトップページの予定</h1>
  <div class="form">
    <div class=form-input>
      <input class="from-message" placeholder= "日付を選択してください">
      <input class="from-message" placeholder= "種目を選択してください">
      <input class="from-message" placeholder= "重さを入力してください(例: 70.5)">
      <input class="from-message" placeholder= "回数を入力してください(例: 5)">
      <input class="from-message" placeholder= "セット数を入力してください(例: 3)">
    </div>
      <input class="form-submit" type="submit" value="保存">
  </div>

  <% @training_records.each do |training_record| %>
    <p>日付: <%= training_record.date %></p>
    <p>種目: <%= training_record.training_event %></p>
    <p>重さ: <%= training_record.training_weight %></p>
    <p>回数: <%= training_record.reps %></p>
    <p>セット数: <%= training_record.set %></p>
  <% end %>
    
