<%= render 'layouts/notifications' %>
<h3 class="input-nav">トレーニング分析</h1>

  <div class="next-page">
    <%= link_to "Max重量を確認する", "#", class: "btn btn-info" %>
  </div>

  <div class="select-date">
  <%= form_tag(training_records_path, method: :get) do %>
    <p>見たい日付を選択し、送信してください<input type="date">
    <input type="submit"></p>
  <% end %>
  </div>


  <% @training_records.each do |training_record| %>
    <p>日付: <%= training_record.date %></p>
    <p>種目: <%= training_record.training_event %></p>
    <p>重さ: <%= training_record.training_weight %></p>
    <p>回数: <%= training_record.reps %></p>
    <p>セット数: <%= training_record.set %></p>
      <li>
        <%= link_to "編集", edit_training_record_path(training_record.id), method: :get  %>
      </li>
      <li>
        <%= link_to "削除", "/training_records/#{training_record.id}", method: :delete %>
      </li>
  <% end %>

