<%= render 'layouts/notifications' %>
<h1>このページの使い道を検討中</h1>
<%= link_to "トレーニングを入力する",  new_training_record_path, class: "#" %>
<%= link_to "体組成を入力する", new_body_record_path, class: "#" %>

  <% @training_records.each do |training_record| %>
    <p>日付: <%= training_record.date %></p>
    <p>種目: <%= training_record.training_event %></p>
    <p>重さ: <%= training_record.training_weight %></p>
    <p>回数: <%= training_record.reps %></p>
    <p>セット数: <%= training_record.set %></p>
      <li>
        <%= link_to "編集", edit_training_record_path(training_record.id), method: :get  %>
      </li>
      <li>
        <%= link_to "削除", "/training_records/#{training_record.id}", method: :delete %>
      </li>
  <% end %>

