<h1 class="input-nav">トレーニング記録を入力する</h1>
  <div class="container">
    <div class="form-group">
      <%= form_with(model: @training_record, url: next_training_records_path(@training_record), local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
          <label for="date">日付を選択してください<span class="indispensable">必須</span></label>
            <p><%= f.date_field :date %></p>
          <label for="trining_event">種目を選択してください<span class="indispensable">必須</span></label> 
            <p> <%= f.collection_select :training_event, TrainingGenre.all, :id, :event, include_blank:"選択してください", class: "form-control"%></p>
          <%= f.text_field :training_weight, type: :hidden %>
          <%= f.text_field :reps, type: :hidden  %>
          <%= f.text_field :set, type: :hidden  %>
        <div class="mb-3"> 
          <button type="submit" class="btn btn-primary">次へ</button>
        </div>   
      <% end %>
      <%= render 'shared/mypage_link' %>
    </div>
  </div>