<h1 class="input-nav">重さ・回数・セット数を入力する</h1>
  <div class="container">
    <div class="form-group">
      <%= form_with(model: @training_record, local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
          <%= f.date_field :date, type: :hidden  %>
          <%= f.text_field :training_event, type: :hidden  %>
        <%= render 'shared/training_form' %>
      <% end %>
      <div class="actions">
        <%= link_to "前のページに戻る", new_training_record_path, class: "btn btn-warning"  %>
        <%= link_to "マイページへ戻る", user_path(current_user.id), class: "btn btn-success" %>
      </div>
    </div>
  </div>