<!DOCTYPE html>
<html>
  <head>
    <title>TrainingMemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="/assets/application">
  </head>

  <body>
   <header class="header">
      <div class="header_left">
        <h1 class="site_title"><a href="/">TrainingMemo</a></h1>
        <% if user_signed_in? %>
          <div class="sign_out_nav">
            <%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="login_nav">
            <%= link_to "ログイン", new_user_session_path %>
            <%= link_to "新規登録", new_user_registration_path %>
          </div>
        <% end %>
      </div>

			<div id="site_reserve">
				<p>お問い合わせはこちらから</p>
				<p class="site_tel">TEL:000-000-0000</p>
			</div>
      <div class="clear_list">
      </div>
		</div>
  </div>

   </header>
    <%= yield %>
	<footer>
		<p>
			Copyright(c) TrainingMemo.com
		</p>
	</footer>    
  </body>
</html>
